stages:
  - build
  - deploy

build_vue:
  stage: build
  image: node:20.19.0
  variables:
    NODE_OPTIONS: "--max-old-space-size=4096"
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
    expire_in: 1 week
  only:
    - main


