stages:
  - build

build_vue:
  stage: build
  image: node:20
  script:
    - npm ci
    - npm run build
  artifacts:
    name: "vue-dist-$CI_COMMIT_SHORT_SHA"
    paths:
      - dist/
    expire_in: 7 days
  only:
    - main
