.summary-table[data-v-8cec405b]{border-radius:4px;width:100%}.summary-table th[data-v-8cec405b],td[data-v-8cec405b]{padding:8px;text-align:left}.summary-table tr:last-child td[data-v-8cec405b]{border-bottom:none}
